@import 'mormalize';
@import 'vars';

body {
  color: $text-color;
  font-family: $text;
  font-size: $text-size;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  color: $title-color;
  font-family: $title;
  font-size: $title-size;
}
a {
  color: $title-color;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  padding: 60px;
}
.active {
  color: aqua;
}
.post_list_wrapper {
  scroll-behavior: smooth;
  max-height: 600px;
  overflow-y: scroll;
}

.post_active {
  a {
    color: red;
  }
}
